form {
	margin: 0;
	padding: 10px 30px;
	width: 350px;
}

form input{width: 145px;}
form select{width: 145px;}

.ftitle {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.fitem {
	margin-bottom: 5px;
}

.fitem label {
	display: inline-block;
	width: 80px;
}

.fitemT {
	margin-bottom: 5px;
}

.fitemT label {
	display: inline-block;
	width: 90px;
}
.fitemT input {
	width: 350px;
}

.fitemW {
	margin-bottom: 5px;
}

.fitemW label {
	display: inline-block;
	width: 90px;
}
.markColumn{
	color: red;
    font-size: 16px;
    display: block;
    width: 11px;
    height: 10px;
    float: left;
    margin-top: 2px;
}
.queryStyle{
	display: inline-block;
	color: #ffffff;
	background-color: #ff8b1d;
	width: 60px;
	height: 24px;
	border-radius: 5px;
	line-height: 24px;
	text-decoration: none;
	margin-left: 5px;
	text-align: center;
	box-shadow: #e0e0e0 1px 1px 0px 0px;
}